@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap";
/* HEADER */
/* MAIN */
/* FOOTER */
/* BLOG */
/* CONTACTO */
/* PLATAFORMA */
* {
  margin: 0;
  padding: 0;
}

header {
  padding-left: 10%;
  padding-right: 10%;
  background: blue;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 700;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.botonPlataforma {
  padding: 9px 25px;
  background-color: #fff;
  color: blue;
  border: none;
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.botonPlataforma:hover {
  background-color: rgb(202, 202, 202);
  transition: all ease 0.3s;
}

.bienvenida {
  background-image: url("../img/personas-con-discapacidad.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10%;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
.bienvenida h1 {
  font-size: 300%;
  font-weight: 700;
}

.botonBienvenida {
  padding: 9px 25px;
  background-color: #fff;
  color: blue;
  border: none;
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.botonBienvenida:hover {
  background-color: rgb(202, 202, 202);
  transition: all ease 0.3s;
}

.sumate {
  display: flex;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Noto Sans JP", sans-serif;
}
.sumate h2 {
  color: blue;
  font-weight: 700;
}

.conoceMas {
  padding: 9px 25px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.conoceMas:hover {
  background-color: rgb(0, 0, 104);
  transition: all ease 0.3s;
}

.blog {
  margin-top: 2.5%;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5%;
  background-color: blue;
}

.tituloBlog {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 2%;
  font-size: 250%;
}

.descargaApp {
  display: flex;
  margin-top: 2.5%;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5%;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

.imagenApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.imagenApp img {
  width: 36%;
}

.textoApp {
  display: grid;
  place-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.textoApp h2 {
  font-weight: 700;
}

.botonesDescarga {
  display: block;
  align-items: center;
}

footer {
  background-color: rgb(43, 38, 38);
  text-decoration: none;
  color: #fff;
  padding-top: 2.5%;
  padding-bottom: 0.5%;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2, 5% 2, 5% 20% 20%;
}

.left-links {
  text-align: left;
  flex-basis: 25%;
}
.left-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  display: block;
}
.left-links a {
  text-decoration: none;
  color: #fff;
}

.logo-center {
  text-align: center;
  flex-basis: 50%;
}

.right-links {
  text-align: right;
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  display: block;
}
.right-links a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  text-align: center;
  padding-top: 0.5%;
}

.portadaBlog {
  background-image: url(../img/la-arquitectura-1.jpg);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0.5%;
  padding-top: 18%;
}
.portadaBlog h1 {
  display: block;
  background-color: blue;
  color: #fff;
  padding: 0.5%;
}

.ultimasNovedades {
  margin-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5%;
  background-color: #fff;
}
.ultimasNovedades h2 {
  color: blue;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 2%;
  font-size: 250%;
}

.informacion {
  margin-top: 2.5%;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5%;
  background-color: blue;
}

.contacto {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.textoContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactanos {
  padding-top: 2.5%;
}
.contactanos a {
  text-decoration: none;
  color: #000;
}

.formularioContacto {
  border-radius: 2%;
  padding: 2%;
  box-shadow: 7px 13px 37px #000;
  font-family: "Noto Sans JP", sans-serif;
}
.formularioContacto button {
  align-items: center;
}

.botonContacto {
  padding: 9px 25px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 2%;
}
.botonContacto:hover {
  background-color: rgb(0, 0, 104);
  transition: all ease 0.3s;
}

.mainPlataforma {
  background-image: url(../img/personas-con-discapacidad.png);
  color: #fff;
  display: flex;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2.5%;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 767px) {
  .left-links {
    display: none;
  }
  .right-links {
    display: none;
  }
  header {
    padding: 0%;
  }
  .botonPlataforma {
    background-color: white;
    color: blue;
    border-radius: 0;
    padding-left: 50%;
    margin: 0% !important;
  }
}
@media (max-width: 449px) {
  header {
    padding: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
