$color_primario: blue;
$color_secundario: #fff;
$color_terciario: #000;
$color_footer: rgb(43, 38, 38);
$hover_blanco: rgba(202, 202, 202);
$hover_azul: rgb(0, 0, 104);
$fuente: "Noto Sans JP", sans-serif;

@import "generales", "divs", "botones", "textos", "formularios", "medias";